@mixin button ($color) {
    border: 1px solid $color;
    background-color: darken($color, 20%);
}
$calloutBG: #EEE;
$divCenter: 0 auto;
$siteOrange: rgb(242,187,118);


body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}


@mixin calloutStyle ($color) {
    background-color: $calloutBG;
    border-left: 4px solid $color;
    width: 500px;
    margin: $divCenter;
    padding: 15px;

}
.callout {
    @include calloutStyle (#ff00ff);
}
 // --------- menu -----------
.menu {
        ul {
            margin: 0;
            padding:0;
            list-style: none;
            }

        li {
        display: inline-block;
        background-color: $siteOrange;   
            }

        a {
        display:block;
        padding: 5px 10px;
        text-decoration: none;
        color: #000;

        &:hover {
            background-color: darken($siteOrange, 10%);

        }
            }
        }










// .hero-unit {
//     @include button(rgb(232, 2, 76));
//     margin: 50px auto 0 auto;
//     width: 300px;
//     font-size: 18px;
//     font-weight: 200;
//     line-height: 30px;
//     border-radius: 6px;
//     padding: 60px;
//     h1 {
//         font-size: 60px;
//         line-height: 1;
//         letter-spacing: -1px;
//     }
// }

// .browsehappy {
//     margin: 0.2em 0;
//     background: #ccc;
//     color: #000;
//     padding: 0.2em 0;
// }